.obsidian/plugins
.obsidian/snippets
.obsidian/themes
.obsidian/app.json
.obsidian/app.sync-conflict-20220530-213439-OBAY4KV.json
.obsidian/appearance.json
.obsidian/appearance.sync-conflict-20220530-213439-OBAY4KV.json
.obsidian/backlink.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/core-plugins.sync-conflict-20220530-213439-OBAY4KV.json
.obsidian/graph.json
.obsidian/hotkeys.json
.obsidian/hotkeys.sync-conflict-20220530-213439-OBAY4KV.json
.obsidian/page-preview.json
.obsidian/workspaces.json
.obsidian/workspace.json
.obsidian/.goutputstream-VG9WT1
.obsidian/workspace
.hugo_build.lock
